


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html { scroll-behavior: smooth;}

body {
    min-height: 100vh;
    display: flex;
    background-color: gray;
    background-image : radial-gradient(circle at center, #ecede3, #a68e5e);
    flex-direction: column;
}

header ,main , footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    position: sticky;
    top : 0;
}

header {
    padding: 10px;
    background-color: #7d5939;
    /* position: sticky;
    top: 0; */
    color: white;
    font-size: 50px;
    font-weight: bold;
}

nav {
    background-color: rgba(245, 245, 245, 0.694);
    background-color:  #eae3c1;
    text-align: center;
    padding: 10px;
    /* position: sticky;
    top: 0; */
}

nav a:visited {
    color: black;
}

nav a {
    color: black;
    margin: 20px;
    font-weight: bold;
}

main {
    flex-grow: 1;
    /* grid-template-columns: 1fr; */
    /* place-items: center; */
    gap: 10px;
    padding: 10px;
}

main div {
    display: flex;
    background-color: #7d593998;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: 2px solid #c46e14;
    border-radius: 20%;
    height: 400px;
    width: 300px;
    scroll-margin-top: 8rem;
}

.hobbies {
    padding: 10px;
    font-size: 25px;
}

.name-tag {
    font-size: 30px;
    font-weight: bold;
    order: -1;
}

main img {
    width: 50%;
    height: auto;
    border-radius: 50%;
}


footer {
    background-color: red;
    position: sticky;
    background-color: #7d5939;
    color: white;
    padding: 10px;
    font-size: bold;
    bottom: 0;
}



/* || SMALL */
@media screen and (min-width: 576px) {
    /* main {
        width: 100%;
        flex-flow: row wrap;
        justify-items: center;
        align-items: center;
    } */
}

/* || MEDIUM */
@media screen and (min-width: 768px) {
    main {
        flex-flow: row wrap;
        justify-items: space-evenly;
        align-items: center;
        min-width:350px;
        min-height: 400px;
    }
  }
  
  /* || LARGE */
  /* @media screen and (min-width: 992px) {
    main {
        width: 100%;
        flex-flow: row nowrap;
        justify-items: center;
        align-items: center;
    }
  } */
  
  /* || XL  */
  /* @media screen and (min-width: 1200px) {
    main {
        width: 100%;
        flex-flow: row nowrap;
        justify-items: center;
        align-items: center;
    }
  } */
  
  /* || MOBILE DEVICE LANDSCAPE  */
  /* @media screen and (max-height: 425px) and (min-aspect-ratio: 7/4) {

  } */